/*
IMPORT ALL EVE FONTS
*/
@font-face {
  font-family: 'evesansneue-bold';
  src: url('fonts/evesansneue-bold.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-bolditalic';
  src: url('fonts/evesansneue-bolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-italic';
  src: url('fonts/evesansneue-italic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-regular';
  src: url('fonts/evesansneue-regular.otf') format('opentype');
}

@font-face {
  font-family: 'evesansneue-condensed';
  src: url('fonts/evesansneue-condensed.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-condensedbold';
  src: url('fonts/evesansneue-condensedbold.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-condensedbolditalic';
  src: url('fonts/evesansneue-condensedbolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-condenseditalic';
  src: url('fonts/evesansneue-condenseditalic.otf') format('opentype');
}

@font-face {
  font-family: 'evesansneue-expanded';
  src: url('fonts/evesansneue-expanded.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-expandedbold';
  src: url('fonts/evesansneue-expandedbold.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-expandedbolditalic';
  src: url('fonts/evesansneue-expandedbolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-expandeditalic';
  src: url('fonts/evesansneue-expandeditalic.otf') format('opentype');
}





.body-bg-black {
  background-color: #000000;
}
.body-bg-image {
  background-image: url('../images/bg.png');
}


.white-outline-left-menu {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 350px;
  height: calc(100% - 100px);

  border: 1px solid #EFEFEF;

  color: #EFEFEF;
  font-size: 20px;
  font-style: normal;
  font-family: sans-serif;
}


.white-outline-main-window {
  position: absolute;
  left: 420px;
  top: 50px;
  width: calc(100% - 470px);
  height: calc(100% - 100px);

  border: 1px solid #EFEFEF;

  color: #EFEFEF;
  font-size: 20px;
  font-style: normal;
  font-family: sans-serif;
}














.window-corner {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  border: 1px solid #00FF00;
}

.window-inner {
  position: relative;
  left: -1px;
  top: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  border-radius: 5px;
}

.window-border-tb {
  position: relative;
  left: 3px;
  top: 0;
  width: calc(100% - 6px);
  height: calc(100% - 2px);
  border-top: 1px solid #005500;
  border-bottom: 1px solid #005500;
}

.window-border-lr {
  position: relative;
  left: -3px;
  top: 2px;
  width: calc(100% + 4px);
  height: calc(100% - 4px);;
  border-left: 1px solid #005500;
  border-right: 1px solid #005500;
}

.window-caption {
  padding: 5px 5px 5px 10px;
  color: #00FF00;
}
