/*
IMPORT ALL EVE FONTS
*/
@font-face {
  font-family: 'evesansneue-bold';
  src: url('fonts/evesansneue-bold.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-bolditalic';
  src: url('fonts/evesansneue-bolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-italic';
  src: url('fonts/evesansneue-italic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-regular';
  src: url('fonts/evesansneue-regular.otf') format('opentype');
}

@font-face {
  font-family: 'evesansneue-condensed';
  src: url('fonts/evesansneue-condensed.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-condensedbold';
  src: url('fonts/evesansneue-condensedbold.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-condensedbolditalic';
  src: url('fonts/evesansneue-condensedbolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-condenseditalic';
  src: url('fonts/evesansneue-condenseditalic.otf') format('opentype');
}

@font-face {
  font-family: 'evesansneue-expanded';
  src: url('fonts/evesansneue-expanded.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-expandedbold';
  src: url('fonts/evesansneue-expandedbold.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-expandedbolditalic';
  src: url('fonts/evesansneue-expandedbolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'evesansneue-expandeditalic';
  src: url('fonts/evesansneue-expandeditalic.otf') format('opentype');
}


.body-bg-black {
  background-color: #000000;
}
.body-bg-image {
  background-image: url('../images/bg.png');
}


@keyframes expand-window-diagonal {
  from { width: 0px; height: 0px; }
  to { width: inherit; height: inherit; visibility: visible; }
}
@-webkit-keyframes expand-window-diagonal {
  from { width: 0px; height: 0px; }
  to { width: inherit; height: inherit; visibility: visible; }
}

@keyframes expand-window-width-height {
  0%   { width: 0px; height: 0px; }
  25%  { width: inherit; height: 0px; visibility: visible; }
  100% { width: inherit; height: inherit; visibility: visible; }
}
@-webkit-keyframes expand-window-width-height {
  0%   { width: 0px; height: 0px; }
  25%  { width: inherit; height: 0px; visibility: visible; }
  100% { width: inherit; height: inherit; visibility: visible; }
}

@keyframes expand-window-height-width {
  0%   { width: 0px; height: 0px; }
  25%  { width: 0px; height: inherit; visibility: visible; }
  100% { width: inherit; height: inherit; visibility: visible; }
}
@-webkit-keyframes expand-window-height-width {
  0%   { width: 0px; height: 0px; }
  25%  { width: 0px; height: inherit; visibility: visible; }
  100% { width: inherit; height: inherit; visibility: visible; }
}

@keyframes hidden-to-visible {
  from { visibility: hidden; }
  to   { visibility: visible; }
}
@-webkit-keyframes hidden-to-visible {
  from { visibility: hidden; }
  to   { visibility: visible; }
}


/* main window styles */
.placeholder {
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.window-corner {
  position: relative;
  left: 0px;
  top: 0px;
  height: inherit;
  width: inherit;
  visibility: hidden;
  border: 1px solid #00FF00;
  animation-name: expand-window-diagonal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.window-inner {
  position: relative;
  left: -1px;
  top: -1px;
  height: inherit;
  width: inherit;
  visibility: inherit;
  border: 1px solid #005500;
  border-radius: 5px;
}
/* main window styles */

.image-box {
  position: relative;
  visibility: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #999999;
  animation-name: hidden-to-visible;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.text-box {
  position: relative;
  visibility: hidden;
  margin: 10px 30px 0px 0px;
  border: 1px solid #999999;
  animation-name: hidden-to-visible;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
